<div class="courses-panel">
  <div class="header">
    <h2 class="title">All Courses</h2>
    <button mat-mini-fab>
      <mat-icon class="add-course-btn" (click)="onAddCourse()">add</mat-icon>
    </button>
  </div>
  <div class="counters">
    <p>In Promo: {{promoTotal$ | async}}</p>
  </div>
  <mat-tab-group>
    <ng-container *ngIf="beginnerCourses$ | async as beginnerCourses">
      <mat-tab *ngIf="beginnerCourses.length" label="Beginners">
        <courses-card-list [courses]="beginnerCourses"></courses-card-list>
      </mat-tab>
    </ng-container>
    <ng-container *ngIf="intermediateCourses$ | async as intermediateCourses">
      <mat-tab *ngIf="intermediateCourses.length" label="Intermedite">
        <courses-card-list [courses]="intermediateCourses"></courses-card-list>
      </mat-tab>
    </ng-container>
    <ng-container *ngIf="advancedCourses$ | async as advancedCourses">
      <mat-tab *ngIf="advancedCourses.length" label="Advanced">
        <courses-card-list [courses]="advancedCourses"></courses-card-list>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
